/* Style.css practice file */

.odd { 
    font-family:Verdana, DejaVu Sans, sans-serif ;
    background-color: rgba(243, 60, 60, 0.542);
    /*  Variety of fonts and a light pink  background
    for odd numbered elements*/
}

#element-2 {
    color: rgb(0, 0, 206);
    font-size: 36px;
    /* Blue color and larger size for element 2's font */
}

#element-3{
    font-size: 24px;
    /* Altered font size for element 3 */
}

#element-4{
    background-color: rgba(58, 216, 58, 0.938);
    font-size: 24px;
    font-weight: 900;
    /* Light green background and bold, larger, font for element 4. 
    Tested font weight at 700 initially and later changed to 900 for enhanced effect */
}