/* Style.css practice file */

.odd { 
    font-family:Verdana, DejaVu Sans, sans-serif ;
    background-color: rgba(243, 60, 60, 0.542);
}

#element-2 {
    color: rgb(0, 0, 206);
    font-size: 36px;
}

#element-3{
    font-size: 24px;
}

#element-4{
    background-color: rgba(58, 216, 58, 0.938);
    font-size: 24px;
    font-weight: 700;
}