/* Style CSS */

.one,
.two {
    font-family: "Helvetica", "Times New Roman" sans-serif;
    font-size: 28px;
    /* Common set of rules for both buttons in exercise*/
}

.one{
    background-color: black;
    color: white;
}

.two {
    background-color: yellow;
}